@import "tailwindcss";
@plugin "daisyui";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@layer base {

  html,
  body,
  :root {
    font-family: "Manrope", sans-serif !important;
  }
}

.logoText {
  font-family: "Stack Sans Notch", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

